:root {
  --primary-color: #1f2428;
  --secondary-color: #ececec;
  --post-color: #2f353d;
  --btn-color: rgb(78, 83, 88);
  --btn1: #3c62df;
  --btn2: #8000ff;
  --btn3: #ff007b;
}

.battle {
  padding: 50px 7%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
}

.battle .header {
  margin-bottom: 10px;
}

.battle .header h2 {
  font-weight: 300;
  margin-bottom: 9px;
  color: var(--secondary-color);
}
.battle .header p {
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.battle-container {
  background: url("../../../assets//battle.jpg");
  width: 100%;
  height: 800px;
  background-size: cover;
  border-radius: 7px;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  color: #fff;
}

.battle-wrapper {
  position: absolute;
  bottom: 80px;
  left: 30px;
}

.battle-wrapper h2 {
  font-size: 38px;
  margin-bottom: 10px;
}

.battle-wrapper p {
  font-size: 22px;
  margin-bottom: 10px;
}

.battle-container-info {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.info-item {
  padding: 5px 8px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
}

.info-item:first-child {
  background-color: tomato;
  text-decoration: line-through;
}

.info-item:nth-child(2) {
  background-color: rgb(32, 139, 105);
}
.info-item:nth-child(3) {
  background-color: rgb(32, 80, 139);
}
.info-item:last-child {
  background-color: rgb(243, 49, 81);
}

.genre {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 12px;
  margin-bottom: 28px;
  color: #d5d5d5;
}

.genre span {
  padding: 8px 14px;
  background-color: rgb(53, 53, 53);
  font-weight: 800;
  font-size: 13px;
}

.battle-container-users {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.user-status-wrapper {
  position: relative;
}

.user-profile {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: linear-gradient(to top, orangered, red, orange) padding-box,
    linear-gradient(to top, red, orangered, orange) border-box;
}

.border-offline {
  border: 1px gray solid;
  background: transparent;
}

.user-status {
  background: linear-gradient(to top, orangered, red, orange);
  padding: 5px 3px;
  font-size: 11px;
  font-weight: 900;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 9px;
  z-index: 1000;
}

.offline {
  background: rgb(68, 68, 68);
}

/* COUNT DOWN */
.count-down-box {
  position: absolute;
  top: 30px;
  right: 7%;
  text-align: left;
}

.count-down-box h3 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.count-down-box h4 {
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 14px;
}

.off-sign-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 17px;
  font-weight: 900;
  position: absolute;
  height: 180px;
  width: 140px;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  left: 40px;
  top: 40px;
  line-height: 1.3;
  text-align: center;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  animation: animate 1.5s linear infinite;
  cursor: default;
}

.off-sign-percentage {
  font-size: 37px;
}

.off-sign-wrapper .off-sign-display {
  border-radius: 5%;
  background: #1f2428;
  text-align: center;
  z-index: 999;
  height: 93%;
  width: 93%;
  position: absolute;
  padding: 10px 5px;
}

.off-sign-wrapper .off-sign-display .off-sign-time {
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1.5s linear infinite;
  height: 150px;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.off-sign-wrapper span {
  height: 100%;
  width: 100%;
  background: inherit;
}

.off-sign-wrapper span:first-child {
  filter: blur(10px);
}
.off-sign-wrapper span:last-child {
  filter: blur(20px);
}

.count-down-box-top {
  display: none;
}

@media screen and (max-width: 1224px) {
  .battle-wrapper h2 {
    font-size: 28px;
  }

  .battle-wrapper p {
    font-size: 15px;
    line-height: 1.8;
  }
}

@media screen and (max-width: 998px) {
  .count-down-box {
    display: none;
  }

  .count-down-box-top {
    display: block;
  }
}

@media screen and (max-width: 840px) {
  .battle-wrapper h2 {
    font-size: 20px;
  }

  .battle-wrapper p {
    font-size: 13px;
  }
}
@media screen and (max-width: 620px) {
  .user-profile {
    width: 45px;
    height: 45px;
  }

  .user-status {
    font-size: 7px;
    padding: 2px 4px;
    left: 5px;
  }
}

@media screen and (max-width: 750px) {
  .off-sign-wrapper {
    left: 40%;
  }
}
@media screen and (max-width: 682px) {
  .off-sign-wrapper {
    left: 36%;
  }
}
@media screen and (max-width: 532px) {
  .off-sign-wrapper {
    left: 32%;
  }
}
@media screen and (max-width: 434px) {
  .off-sign-wrapper {
    left: 29%;
  }
}

@media screen and (max-width: 416px) {
  .battle .header h2 {
    font-size: 20px;
  }
  .battle .header p {
    line-height: 1.8;
    font-size: 13px;
  }

  .battle-wrapper {
    position: absolute;
    bottom: 30px;
  }

  .battle-wrapper h2 {
    font-size: 16px;
    line-height: 1.7;
  }

  .battle-wrapper p {
    font-size: 13px;
  }

  .battle-container-info {
    margin-bottom: 20px;
  }

  .battle-container-info .info-item {
    font-size: 10px;
  }

  .genre {
    display: none;
  }

  .user-profile {
    width: 45px;
    height: 45px;
  }

  .user-status {
    font-size: 7px;
    padding: 2px 4px;
    left: 5px;
  }
}

@media screen and (max-width: 416px) {
  .battle .header h2 {
    font-size: 16px;
  }
  .battle .header p {
    font-size: 12px;
  }
}
