.homepage-blog {
  padding: 50px 7%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
}

.homepage-blog-header {
  margin-bottom: 10px;
}

.homepage-blog-header h2 {
  font-weight: 300;
  margin-bottom: 9px;
  color: var(--secondary-color);
}

.ptext-wrapper {
  display: inline-block;
  width: fit-content;
}
.animation-text {
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--secondary-color);
  border-right: 2px solid;
  padding-right: 5px;
  letter-spacing: 1px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(71), cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  50% {
    from {
      width: 0;
    }
  }
}

/* POSTS */

.homepage-blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14px;
}

.post {
  background-color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.2);
}

.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: calc(0.4);
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.post img:hover {
  transform: scale(1.1);
  filter: brightness(90%) hue-rotate(45deg);
}

.post:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.blog-content {
  position: absolute;
  bottom: 30px;
  padding: 0 3%;
}
.blog-content h3 {
  font-size: 17px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.blog-content p {
  font-size: 14px;
  line-height: 1.7;
}

.post:first-child h3 {
  font-size: 32px;
  color: orange;
}

.post-info {
  display: flex;
  gap: 4px;
  margin-top: 10px;
}

.post-info span {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 6px 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 5px;
}

.post-hashtags {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.post-hashtags span {
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
}

.post-hashtags span:first-child {
  background-color: tomato;
}
.post-hashtags span:nth-child(2) {
  background-color: steelblue;
}
.post-hashtags span:nth-child(3) {
  background-color: orange;
}
.post-hashtags span:nth-child(4) {
  background-color: rgb(222, 56, 111);
}
.post-hashtags span:last-child {
  background-color: rgb(14, 151, 71);
}

.blog-readmore-btn {
  margin-top: 10px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 7px 8px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  font-weight: 900;
}
