.feedback {
  padding: 100px 7%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
}

.feedback-header {
  margin-bottom: 30px;
}

.feedback-header h2 {
  font-weight: 300;
  margin-bottom: 9px;
  color: var(--secondary-color);
}

.user-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 0 4%;
}

.user-image-container img {
  width: 150px;
  height: 150px;
  border-radius: 4%;
  text-align: center;
  margin: auto;
}

.user-name {
  font-size: 21px;
  font-weight: 400;
  margin-top: 5px;
}

.feedback-box {
  display: flex;
  gap: 0;
}
.feedback-left {
  flex: 2;
  background-color: var(--post-color);
  padding: 35px 20px;
}
.feedback-right {
  flex: 1;
  background-color: var(--post-color);
  padding: 35px 20px;
  line-height: 1.7;
}

.feedback-content {
  padding-top: 20px;
  padding: bottom 60px;
}

.user-feedback {
  line-height: 1.9;
}

/* RIGHT */

@media screen and (max-width: 1198px) {
  .user-feedback {
    padding: 0 6%;
  }
}
@media screen and (max-width: 390px) {
  .user-feedback {
    padding: 0 4%;
    font-size: 14px;
  }
}
