:root {
  --primary-color: #1f2428;
  --secondary-color: #ececec;
  --post-color: #2f353d;
  --btn-color: rgb(78, 83, 88);
  --btn1: #3c62df;
  --btn2: #8000ff;
  --btn3: #ff007b;
}

.dark {
  --primary-color: #1f2428;
  --secondary-color: #fefefe;
  --post-color: #2f353d;
  --btn: #3c62df;
  --btn-color: rgb(78, 83, 88);
}

.light {
  --primary-color: #efefef;
  --secondary-color: #1f2428;
  --post-color: #ffffff;
  --btn: #3c62df;
  --btn-color: rgb(53, 56, 58);
}

.productions {
  padding: 50px 7%;
  background-color: var(--primary-color);
  transition: all ease-in-out 0.4s;
}

.productions .header {
  margin-bottom: 10px;
}

.productions .header h2 {
  font-weight: 300;
  margin-bottom: 9px;
  color: var(--secondary-color);
}
.productions .header p {
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.prodictions-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 18px;
  justify-content: center;
  align-items: center;
}

.production {
  background-color: var(--post-color);
  border-radius: 2px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.price-box {
  position: absolute;
  display: flex;
  gap: 3px;
  bottom: 200px;
  left: 12px;
}
.price-box-price {
  background-color: var(--primary-color);
  color: var(--btn3);
  padding: 8px 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}
.price-line-through {
  text-decoration: line-through;
}

.price-box-offPrice {
  background-color: var(--primary-color);
  color: rgb(64, 170, 26);
  padding: 8px 12px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}
.price-box-offPrice-none {
  display: none;
}
.price-box-percentage {
  background-color: var(--primary-color);
  color: orange;
  padding: 8px 12px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}
.price-box-percentage-none {
  display: none;
}

.prodictions-container .production .production-image-container img {
  width: 100%;
  border-radius: 2px 2px 0px 0px;
}

.production-content {
  padding: 14px 20px;
}

.production-content .production-content-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6px;
}

.production-content .production-content-text {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  gap: 5px;
}

.readmore-btn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-color);
  color: #fff;
  border: none;
  padding: 7px 11px;
  /* text-transform: uppercase; */
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.readmore-btn:hover {
  background-color: #1f2428;
}

@media screen and (max-width: 384px) {
  .prodictions-container {
    grid-template-columns: 1fr;
  }

  .price-box {
    bottom: 230px;
    left: 12px;
  }
}
@media screen and (max-width: 336px) {
  .price-box {
    bottom: 250px;
    left: 12px;
  }
}
