:root {
  --primary-color: #1f2428;
  --secondary-color: #ececec;
  --post-color: #2f353d;
  --btn-color: rgb(78, 83, 88);
  --btn1: #3c62df;
  --btn2: #8000ff;
  --btn3: #ff007b;
}

header {
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  align-items: center;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.8);
}

/* LEFT - LOGO */
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.header-logo span {
  font-weight: 900;
  font-family: "Poppins";
}

.header-logo .header-logo-image {
  width: 40px;
  height: 30px;
  color: var(--secondary-color);
}

/* MIDDLE - LINKS */

.header-links {
  display: flex;
  gap: 60px;
}

.header-link-item {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
}

/* RIGHT - DASHBOARD BTN */
.header-user {
  display: flex;
  gap: 10px;
}
.header-user .header-user-link {
  background-color: var(--post-color);
  color: var(--secondary-color);
  display: flex;
  padding: 9px 14px;
  border-radius: 4px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  border: 1px solid var(--btn-color);
  font-weight: 700;
}
.header-use-link-icon {
  font-size: 13px;
}

.dark-light-btn {
  background-color: var(--post-color);
  color: var(--secondary-color);
  display: flex;
  padding: 9px 14px;
  border-radius: 4px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 1px solid var(--btn-color);
  cursor: pointer;
}

.cart-btn {
  color: var(--secondary-color);
  display: flex;
  padding: 9px 14px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  position: relative;
  cursor: pointer;
}

.cart-btn span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  top: -5px;
  right: -1px;
  cursor: pointer;
}

.header-profile-image {
  width: 40px;
  height: 40px;
  z-index: 999;
  border-radius: 50%;
  border: var(--secondary-color) 1px solid;
  cursor: pointer;
}
