:root {
  --primary-color: #1f2428;
  --secondary-color: #ececec;
  --post-color: #2f353d;
  --btn-color: rgb(78, 83, 88);
  --btn1: #3c62df;
  --btn2: #8000ff;
  --btn3: #ff007b;
}

header {
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  align-items: center;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.8);
  position: relative;
}

/* LEFT - LOGO */
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.header-logo span {
  font-weight: 900;
  font-family: "Poppins";
}

.header-logo .header-logo-image {
  width: 40px;
  height: 30px;
  color: var(--secondary-color);
}

/* MIDDLE - LINKS */

.header-links {
  display: flex;
  gap: 60px;
  transition: all ease-in-out 0.3s;
}

.header-link-item {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
}

.only-mobile {
  display: none;
}

/* RIGHT - DASHBOARD BTN */
.header-user {
  display: flex;
  gap: 10px;
  position: relative;
}
.header-user .header-user-link {
  background-color: var(--post-color);
  color: var(--secondary-color);
  display: flex;
  padding: 9px 14px;
  border-radius: 4px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  border: 1px solid var(--btn-color);
  font-weight: 700;
}
.header-use-link-icon {
  font-size: 13px;
}

.dark-light-btn {
  background-color: var(--post-color);
  color: var(--secondary-color);
  display: flex;
  padding: 9px 14px;
  border-radius: 4px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 1px solid var(--btn-color);
  cursor: pointer;
}

.cart-btn {
  color: var(--secondary-color);
  display: flex;
  padding: 9px 14px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  position: relative;
  cursor: pointer;
}

.cart-btn span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  top: -5px;
  right: -1px;
  cursor: pointer;
}

.header-profile-image {
  width: 40px;
  height: 40px;
  z-index: 999;
  border-radius: 50%;
  border: var(--secondary-color) 1px solid;
  cursor: pointer;
}

/* Menu */
.header-setting {
  position: absolute;
  top: 57px;
  right: -35px;
  z-index: 1200;
  line-height: 2.4;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 800;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100px;
  padding: 10px 0;
  text-align: center;
  display: none;
  transition: all ease-in-out 0.2s;
}

.menu-block {
  display: block;
}

.header-setting-item-1,
.header-setting-item-2,
.header-setting-item-3 {
  cursor: pointer;
}

.header-setting-item-2 {
  margin-bottom: 10px;
}

.header-setting-item-3 {
  border-top: solid 1px gray;
  text-align: center;
  padding-top: 6px;
}

/* BURGER ICON */
.burger-icon {
  position: absolute;
  color: var(--secondary-color);
  font-size: 31px;
  right: 22px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .header-links {
    gap: 40px;
  }
  .header-user {
    margin-right: 25px;
  }
}

@media screen and (max-width: 1020px) {
  .burger-icon {
    display: block;
  }

  .header-links {
    /* display: none; */
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 100px;
    text-align: center;
    gap: 45px;
    z-index: 2000;
    background-color: var(--post-color);
    color: var(--secondary-color);
    padding: 40px;
    right: 0;
    top: 70px;
    width: 380px;
    height: 100vh;
  }

  .open {
    display: flex;
  }

  .only-mobile {
    display: block;
  }
  .header-user {
    margin-right: 45px;
  }
  .header-profile-image {
    display: none;
  }
  .header-user .header-user-link {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .header-logo span {
    display: none;
  }
}
