:root {
  --primary-color: #1f2428;
  --secondary-color: #ececec;
  --post-color: #2f353d;
  --btn-color: rgb(78, 83, 88);
  --btn1: #3c62df;
  --btn2: #8000ff;
  --btn3: #ff007b;
}

footer {
  background-color: var(--post-color);
  color: var(--secondary-color);
  padding: 80px 12%;
  display: flex;
  justify-content: space-between;
}

.footer-top h2 {
  font-size: 27px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.footer-top p {
  margin-top: 9px;
  font-weight: 400;
}

.footer-middle {
  display: flex;
  margin-top: 20px;
  gap: 12px;
}

.footer-middle img {
  width: 120px;
  border-radius: 6px;
  box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: flex;
  gap: 85px;
  line-height: 1.9;
  margin-top: 40px;
}

.footer-links .link-box h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-links .link-box li {
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  /* text-transform: uppercase; */
}

.bank-logos {
  margin-top: 20px;
  width: 250px;
}

/* RIGHT ------------------------------------------------------------------------------ */
.contact-link h2 {
  font-weight: 400;
  font-size: 15.2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.social-container {
  display: flex;
  gap: 8px;
}

.social-link {
  font-size: 24px;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.social-link:hover {
  color: rgb(160, 160, 160);
}

/* SUBSCRIPTION */
.subscription {
  margin-top: 40px;
}

.subscription h2 {
  font-weight: 400;
  font-size: 15.2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.form-container {
  width: 100%;
  position: relative;
}

.form-container input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.form-container button {
  position: absolute;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  right: 0;
  bottom: 9px;
  cursor: pointer;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h2 {
  font-weight: 400;
  font-size: 15.2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.telephone h4,
.email h4 {
  font-weight: 500;
}

.email,
.telephone {
  margin-top: 10px;
  line-height: 1.5;
}
