.single-production-page {
  padding: 80px 6%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* TOP */

/* CONTENT */
.single-production-content {
  display: flex;
  gap: 15px;
}
/* LEFT */
.single-production-left {
  flex: 4;
}

.production-image-content img {
  width: 100%;
}

.production-image-content h1 {
  font-size: 42px;
  font-weight: 900;
  margin-top: 20px;
}

.production-image-content p {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
}

/* RIGHT --------------------------------------- */
.single-production-right {
  flex: 1;
}
