:root {
  --primary-color: #1f2428;
  --secondary-color: #ececec;
  --post-color: #2f353d;
  --btn-color: rgb(78, 83, 88);
  --btn1: #3c62df;
  --btn2: #8000ff;
  --btn3: #ff007b;
}

.top-slider {
  position: relative;
}

.top-slider-image-container {
  background-color: #000;
  height: 600px;
}

.image-slide {
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 0.4;
}

.top-slider-content {
  position: absolute;
  z-index: 200;
  color: #fff;
  bottom: 50px;
  left: 30px;
  width: 800px;
}

.top-slider-content h1 {
  font-size: 32px;
  font-weight: 900;
}

.top-slider-content h2 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

.top-slider-content p {
  font-size: 15px;
  line-height: 1.9;
  margin-top: 10px;
  text-align: justify;
  margin-bottom: 22px;
}

.topSlider-read-more-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 7px;
  border-bottom: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.topSlider-read-more-btn:hover {
  border-top: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
  border-left: none;
  border-bottom: none;
}

.topSlider-read-more-btn:active {
  border-bottom: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
  border-top: none;
  border-right: none;
}

@media screen and (max-width: 998px) {
  .top-slider-content {
    width: 600px;
  }
}

@media screen and (max-width: 694px) {
  .top-slider-content {
    width: 500px;
  }
}

@media screen and (max-width: 568px) {
  .top-slider-content {
    width: 100%;
    padding: 0 5%;
    left: 0;
  }

  .top-slider-content h1 {
    font-size: 22px;
    font-weight: 700;
  }
}
@media screen and (max-width: 410px) {
  .top-slider-content h1 {
    font-size: 19px;
  }
  .top-slider-content h2 {
    font-size: 12px;
  }
}
